body{
    background: #505050;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
height: 330px;
width: 173px;
background: #000;
justify-content: center;
align-items: center;
}

.table{
    height: 40px;
    width: 162px;
    background: rgb(203, 203, 203);
    border: solid rgb(145, 145, 145);
    text-align: right;
}

.b{
    margin-top: 5px;
    margin-left: 5px;
    margin-left: 0px;
    width: 40px;
    height: 40px;
}
